:root {
  /* primary colors */

  --clr-blue-primary-900: hsl(223, 46%, 23%);
  --clr-blue-primary-300: hsl(224, 38%, 67%);
  --clr-purple-primary-600: hsl(245, 75%, 52%);
  --clr-purple-primary-400: hsl(245, 83%, 68%);

  /* secondary colors */

  --clr-blue-secondary-300: hsl(225, 100%, 94%);
  --clr-grey: hsl(228, 100%, 98%);
  --clr-white: hsl(0, 0%, 100%);

  --ff-red-hat-display: "Red Hat Display", sans-serif;

  --fs-xl: clamp(1.375rem, 1.2446rem + 0.6522vw, 1.75rem);
  --fs-400: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --fs-300: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --fs-200: clamp(0.8125rem, 0.7908rem + 0.1087vw, 0.875rem);

  --fw-600: 900;
  --fw-500: 800;
  --fw-400: 500;

  --lh-400: 1.67;

  --border-radius: 20px;

  --shadow-color: 224deg 90% 75%;
  --shadow-elevation-medium: 0px 1px 1.4px hsl(var(--shadow-color) / 0.15),
    -0.1px 15.5px 20.9px -1px hsl(var(--shadow-color) / 0.39);
}

/*========== 
   utilities 
  ==========*/

.flex-group-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-group-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*================ 
   global styling 
  ================*/

body {
  background-color: var(--clr-blue-secondary-300);
  color: var(--clr-blue-primary-300);
  font-family: var(--ff-red-hat-display);
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  line-height: var(--lh-400);
  padding: 1.5rem;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: url(images/pattern-background-mobile.svg);
  background-size: cover;
  z-index: -1;
}

.summary-card__title,
.payment-plan__type {
  color: var(--clr-blue-primary-900);
  font-weight: var(--fw-600);
}

/*========
   layout 
  ========*/

.summary-card {
  background-color: var(--clr-white);
  border-radius: var(--border-radius);
  max-width: calc(430rem / 16);
  text-align: center;
  overflow: hidden;
  box-shadow: var(--shadow-elevation-medium);
}

.summary-card__image {
  object-fit: cover;
}

.summary-card__text-half {
  margin-inline: auto;
  max-width: calc(400rem / 16);
  padding: 1.7rem 1.7rem 2.5rem;
}

.summary-card__title {
  font-size: var(--fs-xl);
  margin-bottom: 1rem;
}

.payment-plan {
  background-color: var(--clr-grey);
  border-radius: 10px;
  margin-block: 1.5rem;
  padding: 1rem 0.6rem;
}

.payment-plan__details {
  margin-left: -1rem;
}

.payment-plan__type {
  font-size: var(--fs-400);
}

.payment-plan__change-link {
  margin-left: 1rem;
  color: var(--clr-purple-primary-600);
  font-weight: var(--fw-500);
}

.payment-plan__change-link:is(:hover, :focus),
.btn-primary:is(:hover, :focus) {
  opacity: 75%;
}

.payment-plan__change-link:is(:hover, :focus) {
  text-decoration: none;
}

/*================ 
   button styling 
  ==============*/

.btn {
  display: block;
  margin-inline: auto;
  font-weight: var(--fw-600);
}

.btn-primary {
  background-color: var(--clr-purple-primary-600);
  color: var(--clr-white);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  filter: drop-shadow(0px 8px 10px hsl(245, 20%, 70%));
}

.btn-secondary {
  background-color: white;
  color: var(--clr-blue-primary-300);
  border: none;
}

.btn-secondary:is(:hover, :focus) {
  color: var(--clr-blue-primary-900);
}

@media (min-width: 600px) {
  :root {
    --lh-400: 1.63;
  }

  body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 100%;
    background: url(images/pattern-background-desktop.svg);
    background-size: cover;
  }
}
